              <p class="text-md mb-0">Ronnie is a product-minded software engineer located in the Pacific Northwest.</p>
              <p class="text-md mb-0">He loves finding creative technical solutions that center on a delightful user experience.</p>
              <p class="text-md mb-0">You should hire him for your next project.</p>
              <p class="text-md mb-8">Visit <a href="https://buildtest.run" class="text-orange-400 hover:text-orange-200 hover:underline">BuildTestRun</a> for inquiries.</p>
              <div class="flex flex-cols space-x-8 mb-4">
                <a href="http://github.com/mlr" class="hover:text-orange-200"><i class="fa-brands fa-github-alt"></i> GitHub</a>
                <a href="http://linkedin.com/in/ronniemlr" class="hover:text-orange-200"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
                <a href="/{{ site.feed.path }}" class="hover:text-orange-200"><i class="fa-solid fa-square-rss"></i> RSS</a>
              </div>
