<!-- Consulting CTA -->
<div class="bg-stone-300 dark:bg-slate-800 top-cap"></div>
<section class="py-8 px-6 bg-stone-300 dark:bg-slate-800 text-center">
    <h2 class="text-2xl font-bold mb-2 text-stone-800 dark:text-stone-200">Consultation Available</h2>
    <p class="text-stone-900 dark:text-stone-200 mb-2">I am <span class="mark">onboarding clients now</span> for custom software development and consultation services.</p>
    <p class="text-stone-900 dark:text-stone-200 mb-3">I can help your organization <em>decide between build vs buy</em>, <em>level-up your engineering team</em>, or <em>adopt the cloud</em>.</p>
    <h2 class="text-md font-bold mb-2 text-stone-800 dark:text-stone-200">Here are some other things I'm <em>really good</em> at:</h2>

    <div class="container mx-auto px-10 md:px-20 lg:px-40 py-8 grid grid-cols-1 lg:grid-cols-2 gap-x-12 gap-y-12"><!-- 2 Column Grid -->
        <!-- Card 1 -->
        <div class="bg-stone-100 dark:bg-slate-700 shadow rounded-sm p-6 text-center hover:bg-stone-50 dark:hover:bg-slate-600 transform transition duration-250 hover:scale-105 hover:ring hover:ring-sky-400 hover:ring-offset-0">
        <h3 class="text-stone-900 dark:text-stone-100 font-bold mb-2">Ruby + Rails</h3>
        <div class="grid grid-cols-2 m-5 ml-10 mr-10">
            <div class="mx-auto"><img src="/images/logos/ruby.png" width="50" height="50" alt="ruby" /></div>
            <div class="mx-auto"><img src="/images/logos/rails.png" width="132" height="50" alt="rails" /></div>
        </div>
        <p class="text-stone-700 dark:text-stone-300 text-justify">I got started with Ruby on Rails applications over fifteen years ago. I started on Ruby version 1.8 and Rails version 2.3. I've since built many new applications and upgraded many old applications. I continue to closely follow updates to the language and framework.</p>
        </div>

        <!-- Card 2 -->
        <div class="bg-stone-100 dark:bg-slate-700 shadow rounded-sm p-6 text-center hover:bg-stone-50 dark:hover:bg-slate-600 transform transition duration-250 hover:scale-105 hover:scale-105 hover:ring hover:ring-sky-400 hover:ring-offset-0">
        <h3 class="text-stone-900 dark:text-stone-100 font-bold mb-2">Automation</h3>
        <div class="grid grid-cols-3 m-5 ml-10 mr-10 items-center">
            <div class="mx-auto"><img src="/images/logos/zapier.png" width="50" height="50" alt="zapier" /></div>
            <div class="mx-auto"><img src="/images/logos/githubactions.png" width="50" height="50" alt="ghactions" /></div>
            <div class="mx-auto"><img src="/images/logos/make.svg" width="150" height="50" alt="make" /></div>
        </div>
        <p class="text-stone-700 dark:text-stone-300 text-justify">I love automating all of the things. My general rule of thumb for when to automate: If something is done more than once it should be a script. If it's done more than twice a week it should be automated. If it's causing friction or toil it should be automated.</p>
        </div>

        <!-- Card 1 -->
        <div class="bg-stone-100 dark:bg-slate-700 shadow rounded-sm p-6 text-center hover:bg-stone-50 dark:hover:bg-slate-600 transform transition duration-250 hover:scale-105 hover:scale-105 hover:ring hover:ring-sky-400 hover:ring-offset-0">
        <h3 class="text-stone-900 dark:text-stone-100 font-bold mb-2">Software as a Service</h3>
        <div class="grid grid-cols-3 m-5 ml-10 mr-10 items-center">
            <div class="mx-auto"><img src="/images/logos/twilio.png" width="50" height="50" alt="twilio" /></div>
            <div class="mx-auto"><img src="/images/logos/stripe.png" width="105" height="50" alt="stripe" /></div>
            <div class="mx-auto"><img src="/images/logos/openai.png" width="50" height="50" alt="openai" /></div>
        </div>
        <p class="text-stone-700 dark:text-stone-300 text-justify">I started building Software as a Service (SaaS) applications for clients in 2003. I've been hired to build text and email messaging tools, automotive scheduling systems, applications for managing employees and payroll, generative AI powered voice systems, and more.</p>
        </div>

        <!-- Card 2 -->
        <div class="bg-stone-100 dark:bg-slate-700 shadow rounded-sm p-6 text-center hover:bg-stone-50 dark:hover:bg-slate-600 transform transition duration-250 hover:scale-105 hover:scale-105 hover:ring hover:ring-sky-400 hover:ring-offset-0">
        <h3 class="text-stone-900 dark:text-stone-100 font-bold mb-2">Production On-Call Support</h3>
        <div class="grid grid-cols-3 m-5 ml-10 mr-10 items-center">
            <div class="mx-auto"><img src="/images/logos/docker.png" width="69" height="50" alt="docker" /></div>
            <div class="mx-auto"><img src="/images/logos/aws.png" width="80" height="50" alt="aws" /></div>
            <div class="mx-auto"><img src="/images/logos/pagerduty.png" width="50" height="50" alt="pagerduty" /></div>
        </div>
        <p class="text-stone-700 dark:text-stone-300 text-justify">I have supported production applications, with real users, since my earliest days of writing code. The tools have drastically changed, but my philosophy is the same. I strive to build resilient, reliable software systems; from development all the way to production.</p>
        </div>
    </div>
    <!-- <div class="container mx&#45;auto mt&#45;4 text&#45;center"> -->
    <!--   <a href="#" class="text&#45;stone&#45;600 hover:text&#45;slate&#45;800 hover:underline">Learn More</a> -->
    <!-- </div> -->
</section>
<div class="bg-stone-300 dark:bg-slate-800 bottom-cap mb-10"></div>
<!-- Consulting CTA -->
