<!-- Hero Header -->
<section id="hero" class="hero bg-sky-700 dark:bg-sky-900 text-white text-center p-5 pt-12 pb-8 mb-10">
    <h1 class="text-4xl mb-2">
        Field Notes
    </h1>
    <p class="text-lg">
        <span title="Wave">👋</span> <span title="World">🌎</span>
        You've stumbled upon my <span class="hidden md:inline">little</span> corner of the web.
    </p>

    <!-- <p class="text&#45;sm">Feel free to look around. My own random thoughts and ramblings.</p> -->
</section>
<div class="bg-sky-700 dark:bg-sky-900 bottom-cap reverse-cap mb-10"></div>
<!-- Hero Header -->
