.post-image {
  margin: 30px auto;
  max-width: 614px;
  position: relative;
  left: -20px;

  &.post-image-float-right {
    left: auto;
    width: 40%;
    float: right;
    margin: -10px 0px 40px 40px;
  }

  &.post-image-float-left {
    left: auto;
    width: 40%;
    float: left;
    margin: -10px 40px 40px 0px;
  }

  img {
    width: 100%;
    margin: 15px;
    margin-bottom: 25px;
    margin-left: 0px;
  }
}

#content {
  ol, ul {
    margin-left: 15px;
    margin-bottom: 30px;
    li { line-height: 25px; }
  }

  ul li {
    margin-left: -15px;
    list-style: none;
  }

  ol li {
    margin-left: 12px;
    line-height: 24px;
    list-style-position: outside;
  }

  blockquote {
    border-left: 5px solid #555555;
    background: #151515;
    padding: 5px 10px;
    margin-left: 0px;
    width: 95%;

    p {
      margin-bottom: 0px;
    }
  }

  blockquote + p cite {
    display: block;
    font-size: .9em;
    margin-top: -15px;
  }
}

#content.page.index {
  ul {
    width: 95%;
    margin: 0px auto;
    margin-bottom: 30px;

    li {
      font-weight: 500;
      margin-bottom: 10px;
      flex-direction: row;
      display: flex;
    }
  }

  span.blog-post-title {
    min-width: 450px;
  }

  span.blog-post-date {
    font-size: 0.9em;
    margin-top: 1px;
    margin-left: auto;
    margin-right: 3px;
    order: 2;
  }
}

#content.blog-post {
  h1:first-child {
    margin-bottom: 0px;

    a {
      color: $font-color;
      border: none;
    }
  }

  h1:first-child + h3 {
    margin-bottom: 0px;
  }

  div.post-meta {
    @extend .row;
    margin-bottom: 25px;
    font-size: 1.5rem;
    color: #888;

    & > div {
      // display: inline;
      margin-top: 5px;
      // float: left;
    }

    div.post-tags {
      ul {
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          display: inline-block;
        }
      }
    }
  }

  div.post-content {
    margin-bottom: 35px;
  }

  p img {
    border: 1px solid #888;

    &.center {
      margin: 0px auto;
    }

    &.smaller {
      width: 75%;
    }

    &.borderless {
      border: none;
    }
  }

  p img.console-image  {
    box-shadow: 0px 0px 30px 0px #111;
    margin: 40px auto;
    border: none;
    border: 1px solid #aaa;
    border-radius: 8px;
    background: #777;
  }

  // These aren't great
  &.rails-conf-2015 {
    p img {
      border: none;
    }
  }

  &.transitioning-to-notebook-style-format img {
    box-shadow: 0 0 15px 3px rgba(70, 70, 70, 0.95);
    outline: 2px solid #ccc;
    shape-outside: ellipse(28% 58% at 110px 175px);
    border-bottom-left-radius: 25% 100%;
    border-bottom-right-radius: 25% 100%;
    border-top-left-radius: 25% 100%;
    border-top-right-radius: 25% 100%;
    max-height: 400px;
    margin: 15px 0px 40px 80px;
    float: right;
  }

  @media (max-width: $larger-than-phablet) {
    &.transitioning-to-notebook-style-format img {
      float: none;
      margin: 30px auto;
    }
  }

  ul li {
    margin-left: 5px;
    list-style: disc;
  }
}
