{% capture post_slug %}{{ page.url | remove_first:'/' | split:'/' | last }}{% endcapture %}
{% include header.html %}
  <!-- Hero Header -->
  <section id="hero" class="hero bg-sky-700 dark:bg-sky-900 text-white text-center p-5 pt-12 pb-8 mb-10">
      <h1 class="text-4xl mb-2"><a href="{{ page.url }}">{{ page.title }}</a></h1>
      {% if page.subtitle %}
        <h3>{{ page.subtitle }}</h3>
      {% endif %}

      <div class="post-meta">
        <div class="post-tags">
          <ul>
            {% for tags in page.tags %}
              <li>{{ tags }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="post-date">
          {{ page.date | date: "%B" }}
          {% assign d = page.date | date: "%-d" %}
          {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
          {{ page.date | date: "%Y" }}
        </div>
      </div>
  </section>
  <div class="bg-sky-700 dark:bg-sky-900 bottom-cap reverse-cap mb-10"></div>
  <!-- Hero Header -->

  <div id="content" class="blog-post {{post_slug}}">
    <article class="mx-auto px-8 pb-8 prose prose-slate dark:prose-invert prose-md md:prose-lg">
      <div class="post-content">
        {% if page.image %}
          {% assign paragraphs = content | split: '</p>' %}
          {% assign insert_after = page.image_insert_order | default: 1 %}
          {% for paragraph in paragraphs limit:insert_after %}
            {{ paragraph }}</p>
          {% endfor %}

          <div class="post-image{% if page.image_float_position %} post-image-float-{{ page.image_float_position }}{% endif %}">
            <img src="{{ page.image }}" alt="{{ page.title }}" width="512" />
          </div>

          {% for paragraph in paragraphs offset:insert_after %}
            {{ paragraph }}</p>
          {% endfor %}
        {% else %}
          {{ content }}
        {% endif %}
      </div>
    </article>
  </div>
{% include footer.html %}
